AWS_ACCESS_KEY_ID=replace_with_your_access_key_id
AWS_SECRET_ACCESS_KEY=replace_with_your_secret_access_key
DBT_API_BASE_URL=https://replace-with-your-dbt-cloud-host/api/v2
DBT_ACCOUNT_ID=replace_with_your_dbt_account_id
DBT_JOB_ID=replace_with_your_dbt_job_id
DBT_SERVICE_TOKEN=replace_with_your_dbt_service_token
